$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-customise: "\e900";
$icon-respond: "\e901";
$icon-design: "\e902";
$icon-code: "\e903";
$icon-ready: "\e904";
$icon-free: "\e905";

