@import "../utilities.scss";

.banner-block{
	background: url("../img/banner_bg.jpg") 50% 100%;
	background-size: cover;

	&__wrap{
		padding: 106px 0 52px;
		transition: all 0.3s ease 0s;

		&._active{
			opacity: 0;
		}
	}
}

.overlay{
	background-color: rgba($color: #252B49, $alpha: 0.8);
}

.banner{
	&__title{
		font-size: 36px;
		line-height: 42px;
		text-transform: uppercase;
		color: #FFFFFF;
	}

	&__subtitle{
		margin-top: 33px;
		color: #FFFFFF;
	}

	&__button{
		min-width: 280px;
		padding: 18px 10px 22px;
		border: none;
		margin-top: 67px;
		font-weight: 900;
		font-size: 21px;
		line-height: 18px;
		text-transform: uppercase;
		color: #FFFFFF;
		background: #FF4343;
		transition: all 0.3s ease 0s;
		cursor: pointer;

		&:hover{
			background: #E71414;
			animation: none;
		}

		&:active{
			box-shadow: 4px 4px 30px #FF4343;
		}
	}
}

@media (min-width: 321px){
	.banner-block{
		&__wrap{
			padding: elSize(106, 257, 320, 1024) 0 elSize(52, 126, 320, 1024);
		}
	}

	.banner{
		&__title{
			font-size: elSize(36, 47, 320, 1024);
			line-height: elSize(42, 56, 320, 1024);
		}

		&__subtitle{
			margin-top: elSize(33, 62, 320, 1024);
			font-size: elSize(14, 18, 320, 1024);
			line-height: elSize(16, 21, 320, 1024);
		}

		&__button{
			min-width: elWidth(280, 314, 320, 1024);
			max-width: 314px;
			padding: elSize(18, 26, 320, 1024) elSize(10, 20, 320, 1024) elSize(22, 33, 320, 1024);
			margin-top: elSize(67, 92, 320, 1024);
		}
	}
}

@media (min-width: 1024px){
	.banner-block{
		&__wrap{
			padding: 255px 110px 125px;
		}
	}

	.banner{
		&__title{
			font-size: elSize(47, 64, 1024, 1510);
			line-height: elSize(56, 75, 1024, 1510);
		}

		&__subtitle{
			font-size: elSize(18, 24, 1024, 1510);
			line-height: elSize(21, 28, 1024, 1510);
		}

		&__button{
			position: relative;
			min-width: elWidth(314, 370, 1024, 1510);
			max-width: 370px;
			animation-name: pulse;
			animation-duration: 3s;
			animation-iteration-count: infinite;
		}
	}
}

@media (min-width: 1510px){
	.banner-block{
		&__wrap{
			padding: 229px 60px 121px;
		}
	}

	.banner{
		&__subtitle{
			margin-top: 32px;
			padding: 0 20px 0;
		}

		&__button{
			margin-top: 82px;
		}
	}
}