@import "../utilities.scss";

.benefits-block{
	padding: 50px 0 35px;
}

.benefits-block__list{
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.benefit{
	&__title{
		position: relative;
		padding-top: 110px;
		font-weight: 900;
		font-size: 18px;
		line-height: 21px;
		text-transform: uppercase;
		color: #2D3033;

		&::before{
			position: absolute;
			top: 0;
			left: 50%;
			font-size: 60px;
			transform: translate(-50%, 0);
		}
	}

	&__text{
		margin-top: 17px;
	}
}

@media (min-width: 321px) {
	.benefits-block{
		padding: elSize(50, 90, 320, 1024) 0 elSize(35, 80, 320, 1024);
	}

	.benefits-block__list{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: elSize(50, 60, 320, 1024) 15px;
	}

	.benefit{
		max-width: elWidth(280, 315, 320, 1024);

		&__title{
			padding-top: elSize(110, 120, 320, 1024);

			&::before{
				font-size: elSize(60, 65, 320, 1024);
			}
		}

		&__text{
			margin-top: elSize(17, 25, 320, 1024);
		}
	}
}

@media (min-width: 1024px) {
	.benefits-block{
		padding: elSize(90, 130, 320, 1024) 0 elSize(80, 135, 320, 1024);
	}

	.benefits-block__list{
		justify-content: space-between;
		row-gap: elSize(60, 100, 1024, 1510);
	}

	.benefit{
		max-width: elWidth(315, 370, 1024, 1510);

		&__title{
			padding-top: elSize(120 , 145, 1024, 1510);
			font-size: elSize(18, 24, 1024, 1510);
			line-height: elSize(21, 28, 1024, 1510);

			&::before{
				font-size: elSize(65, 80, 1024, 1510);
			}
		}

		&__text{
			margin-top: elSize(25, 50, 1024, 1510);
			font-size: elSize(14, 18, 1024, 1510);
			line-height: elSize(16, 21, 1024, 1510);
		}
	}
}