@import "../utilities.scss";

.download-block{
	padding: 52px 0px 45px;

	&__title{
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
	}

	&__subtitle{
		margin-top: 22px;
		font-weight: 700;
		font-size: 13px;
		line-height: 15px;
		text-transform: uppercase;
		color: #000000;
	}

	&__button{
		min-width: 100%;
		padding: 28px 10px 32px;
		border: none;
		margin-top: 12px;
		font-weight: 900;
		font-size: 16px;
		line-height: 18px;
		text-transform: uppercase;
		color: #FFFFFF;
		background: #FF4343;
		cursor: pointer;

		&:hover{
			background: #E71414;
		}

		&:active{
			box-shadow: 4px 4px 30px #FF4343;
		}
	}
}

@media (min-width: 321px) {
	.download-block{
		padding: elSize(57, 95, 320, 1024) 20px elSize(45, 78, 320, 1024);
	
		&__title{
			font-size: elSize(18, 24, 320, 1024);
			line-height: elSize(24, 28, 320, 1024);
		}
	
		&__subtitle{
			font-size: 14px;
			line-height: 16px;
		}
	
		&__button{
			min-width: elWidth(280, 314, 320, 1024);
			margin-top: elSize(15, 45, 320, 1024);
		}
	}
}

@media (min-width: 1024px) {
	.download-block{
		padding: elSize(85, 130, 1024, 1510) 0 elSize(76, 120, 1024, 1510);
	
		&__title{
			font-size: elSize(24, 30, 1024, 1510);
			line-height: elSize(28, 35, 1024, 1510);
		}
	
		&__subtitle{
			font-size: elSize(10, 18, 1024, 1510);
			line-height: elSize(13, 21, 1024, 1510);
		}
	
		&__button{
			min-width: elWidth(314, 370, 1024, 1510);
			max-width: 370px;
			margin-top: elSize(45, 55, 1024, 1510);
			font-size: elSize(16, 21, 1024, 1510);
			line-height: elSize(21, 25, 1024, 1510);
			animation-name: pulse;
			animation-duration: 3s;
			animation-iteration-count: infinite;
		}
	}
}

@media (min-width: 1510px) {
	.download-block{
		&__button{
			padding: 23px 10px 28px;
		}
	}
}