@import "../utilities.scss";

.footer-block{
	padding-top: 35px;
	color: #FFFFFF;
	background: #353C65;

	&__copyright{
		padding: 30px 0;
		margin-top: 35px;
		background: #2C3154;
	}
}

.location{
	min-width: 280px;

	&__title{
		font-weight: 700;
		text-transform: uppercase;
	}

	&__text{
		margin-top: 35px;
		text-transform: capitalize;
	}
}

.social{
	min-width: 280px;
	margin-top: 69px;

	&__title{
		font-weight: 700;
		text-transform: uppercase;
	}

	&__nav{
		margin-top: 37px;
	}

	&-list{
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 17px;
	}
}

.footer-link{
	display: flex;
	width: 33px;
	height: 33px;

	&__img{
		width: 100%;
		height: 100%;
	}
}

.footer-info{
	min-width: 280px;
	margin-top: 59px;

	&__title{
		font-weight: 700;
		text-transform: uppercase;
	}

	&__text{
		margin-top: 39px;
		text-transform: capitalize;
	}
}
.copyright{
	min-width: 280px;
	
	&__text{
		text-transform: capitalize;
		color: #808080;

	& span{
		color: #FFFFFF;
	}
}
}

@media (min-width: 1024px) {
	.footer-block{
		padding-top: elSize(47, 71, 1024, 1510);

		&__wrap{
			display: flex;
			justify-content: space-between;
		}
	
		&__copyright{
			padding: elSize(14, 24, 1024, 1510);
			margin-top: elSize(41, 71, 1024, 1510);
		}
	}
	
	.location{
		max-width: elWidth(315, 370, 1024, 1510);
		font-size: elSize(14, 18, 1024, 1510);
		line-height: elSize(16, 21, 1024, 1510);

		&__text{
			margin-top: elSize(18, 29, 1024, 1510);
		}
	}
	
	.social{
		max-width: elWidth(315, 370, 1024, 1510);
		margin-top: 0;
	
		&__title{
			font-size: elSize(14, 18, 1024, 1510);
			line-height: elSize(16, 21, 1024, 1510);
		}
	
		&__nav{
			margin-top: elSize(32, 49, 1024, 1510);
		}
	
		&-list{
			gap: elSize(23, 27, 1024, 1510)
		}
	}
	
	.footer-link{
		width: elWidth(33, 39, 1024, 1510);
		height: elWidth(33, 39, 1024, 1510);
	}
	
	.footer-info{
		max-width: elWidth(315, 370, 1024, 1510);
		margin-top: 0;
		font-size: elSize(14, 18, 1024, 1510);
		line-height: elSize(16, 21, 1024, 1510);
	
		&__text{
			margin-top: elSize(18, 29, 1024, 1510);
		}
	}
	
	.copyright{
		max-width: elWidth(315, 370, 1024, 1510);

		&__text{
			font-size: elSize(14, 18, 1024, 1510);
			line-height: elSize(16, 21, 1024, 1510);
		}
	}
}